<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>

<form name="" action="/user/login" method="get">
    <table align="center">
        <tr>
            <td>
                用户名<input type="text" name="nickname" />
            </td>
            <td>
                密码<input type="password" name="password"/>
            </td>

            <td>
                <input type="submit" name="post" value="登录"/>
            </td>

        </tr>

    </table>

</form>


</body>
</html>